@import "center";

html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.spread {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  font-family: monospace;

  margin: 0;
  padding: 16px;

  background-color: darkolivegreen;

  box-shadow: 10px 10px black;
}

.card__info {
  padding: 8px;

  background-color: olive;
}

.card__elevator-pitch {

}

.card__links {
  padding: 0;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.links__button {
  background-color: olivedrab;
  padding: 8px;
}

.links__button:hover {
  text-shadow: 2px 2px white;
}
