@import "center";

$gap_xs: 2px;
$gap_s: 5px;
$gap_m: 10px;
$gap_l: 20px;

$space_s: 15px;
$space_m: 30px;
$space_l: 45px;

$image_side: 70px;
$image-card_overlap: 20px;

html, body {
  height: 100%;
  margin: 0;
}

.card {
  font-family: 'Verdana';
}

.card__image {
  display: flex;
  justify-content: center;
  height: $image_side - $image-card_overlap;
}

.card__content {
  background-color: mediumaquamarine;
  display: flex;
  flex-direction: column;
  padding: $space_m $space_s;
  gap: $gap_m;
}

.image {
  height: $image_side;
  width: $image_side;
}

.card-content__name-age {
  border-bottom: 1px solid black;
  padding-bottom: $gap_m;
  margin-bottom: $gap_s;
}

.name-age {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: $gap_m;
}

.name-age__name {
  font-weight: bolder;
  font-size: 1.3em;
}

.name-age__age {
  font-weight: lighter;
}

.card-content__bullets {
  margin: 0 $gap_m;
  border-left: 2px solid black;
  padding: 0 $gap_m;
}

.bullet-list {
  display: flex;
  flex-direction: column;
  gap: $gap_xs;
}

.bullet-list__bullet {
  display: flex;
  gap: $gap_m;
  align-items: center;
}

.card-content__elevator-pitch {

}

.card-content__links {
  margin-top: 15px;
}

.link-buttons {
  display: flex;
  flex-direction: column;
  gap: $gap_m;
}

.link-buttons__button {
  background-color: aquamarine;
  padding: $space_s;
}

.link-button__button-body {
  display: inline-flex;
  gap: $gap_s;
}
