@import "center";

$unit_xs: 2px;
$unit_s: 5px;
$unit_m: 10px;
$unit_l: 15px;

$background_color: mediumaquamarine;

$card_top: 40px;

$image_side: 125px;
$image-card_overlap: 20px;
$image-border_width: 5px;

$round_corner_button: 15px;
$round_corner_card: $round_corner_button + $unit_l;

html, body {
  height: 100%;
  margin: 0;
}

.card {
  font-family: 'Verdana';
}

.card__image {
  display: flex;
  justify-content: center;
  height: $image_side - $image-card_overlap;
}

.card__content {
  background-color: $background_color;
  display: flex;
  flex-direction: column;
  padding: $card_top $unit_l $unit_l $unit_l;
  gap: $unit_m;
  border-radius: 0 0 $round_corner_card $round_corner_card;
}

.image {
  height: $image_side;
  width: $image_side;
  border-radius: $unit_m;
  border: $image-border_width solid aquamarine;
}

.card-content__name-age {
  border-bottom: 1px solid black;
  padding-bottom: $unit_m;
  margin-bottom: $unit_s;
}

.name-age {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: $unit_m;
}

.name-age__name {
  font-weight: bolder;
  font-size: 1.3em;
}

.name-age__age {
  font-weight: lighter;
}

.card-content__bullets {
  margin: 0 $unit_m;
  border-left: 2px solid black;
  padding: 0 $unit_m;
}

.bullet-list {
  display: flex;
  flex-direction: column;
  gap: $unit_xs;
}

.bullet-list__bullet {
  display: flex;
  gap: $unit_m;
  align-items: center;
}

.card-content__elevator-pitch {
  padding: 0 $unit_m;
}

.card-content__links {
  margin-top: $unit_l;
}

.link-buttons {
  display: flex;
  flex-direction: column;
  gap: $unit_m;
}

.link-buttons__button {
  background-color: aquamarine;
  padding: $unit_l;
  border-radius: $unit_s;
}

.link-buttons__button:last-child {
  border-radius: $unit_s $unit_s $round_corner_button $round_corner_button;
}

.link-button__button-body {
  display: inline-flex;
  gap: $unit_s;
}
